/* CSS Reset */
body {
    margin: 0;
    padding: 0;
}


/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: '';
    background-color: indigo;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation bar: logo and img */
#logo {
    margin: 2px 5px;
    padding: 2px 2px;
}

#logo img {
    border-radius: 40px;
    height: 60px;
}

/* Navigation bar: list styling  */
#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 15px 35px;
    border-radius: 3px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: tomato;
}

/* Home Section Styling */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 165px;
    color: white;   /*Color for heading and para*/
    height: 397px;
}

#home::before {
    content: '';
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    font-family: 'Varela Round', sans-serif;
}

/* Utility Class */

/* For heading */
.homehead {
    font-size: 2.5rem;
    padding: 10px;
}

.btn {
    padding: 8px 32px;
    border: 2px solid white;
    background-color: tomato;
    color: white;
    margin: 8px 12px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    /* 34 min */
}