/* CSS Reset */
body{
    margin: 0;
    padding: 0;
}


/* Navigation Bar */
#navbar{
    display:flex;
    align-items:center;
}

#navbar::before{
    content: '';
    background-color:indigo;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}

/* Navigation bar: logo and img */
#logo{
    margin: 2px 5px;
    padding: 2px 2px;
}

#logo img{
    border-radius: 40px;
    height: 60px;
}

/* Navigation bar: list styling  */
#navbar{
    position: relative;
}

#navbar ul{
    display:flex;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{ 
    color: white;
    display:block;
    padding: 15px 35px;
    border-radius: 3px;
    text-decoration: none;
}

#navbar ul li a:hover{ 
    color: tomato;
    /* background-color: whitesmoke; */
}